@import "../../shared/styles/variables.scss";

.product-item {
    background-color: $gray;
    padding: 15px 10px;
    border-radius: 15px;
    text-align: center;
    transition: all .3s;
    &:hover{
        transform: scale(1.1);
        box-shadow: -3px 22px 168px 29px rgba(0,0,0,0.94);
        -webkit-box-shadow: -3px 22px 168px 29px rgba(0,0,0,0.94);
        -moz-box-shadow: -3px 22px 168px 29px rgba(0,0,0,0.94);
    }
    .image{
        max-height: 158px;
        background-color: $ligth-gray;
        border-radius: 15px;
        img{
            object-fit: contain;
            padding: 15px;
        }
    }
    .media-content {
        margin-top: 30px;
        .title{
            color: #fff;
            font-size: 23px;;
        }
        .subtitle{
            color: $blue;
            font-size: 20px;
        }
    }
    .card-content{
        padding: 5px;
        .price{
            color: $red;
        }
    }
}