@import "../../shared/styles/variables.scss";

.navbar{
    background-color: $black;
    .navbar-item{
        color: #fff;
        &:hover{
            background-color: $black;
            color: $orange;
        }
        &:actvie{
            background-color: $orange;
        }
    }
    .cart{
        color: $red;
        font-size: 25px;
        .count{
            color: #fff;
            margin: 0 10px;
        }
    }
}